:root {
    /* 背景相关 */
    --bg-color-0: #b6b6b9;
    --bg-color-1: #dcdcdd;
    --bg-color-2: #ebebec;
    --bg-color-3: #fafafa;

    /* 字体相关 */
    --font-color-1: #242529;
    --font-color-2: #58585a;

    /* 边框颜色 */
    --border--color-1: #c9c9ca;

    /* 操作按钮 */
    --red: #ed6a5e;
    --orange: #fcbb3c;
    --green: #35c949;
    --red-border: #de605c;
    --orange-border: #dea849;
    --green-border: #2eb135;
}
